/.ipynb_checkpoints
/__pycache__
/agent_weights
/wandb
/media
tki.npy
conv1.npy
conv2.npy
conv3.npy
/agent_checkpoint
/critic_checkpoint
/good_checkpoints
/actor_checkpoint
/expert_demo_checkpoint
/saved_expert_dset
/combined_checkpoints
/NewTetrisEnv/__pycache__
