/.ipynb_checkpoints
/__pycache__
/wandb
/NewTetrisEnv/__pycache__
/combined_pretrain_checkpoints
/combined_train_checkpoints
/combined_nonormtrain_checkpoints
/large_checkpoints
/pretrained_policy_checkpoints
/small_checkpoints
test.py
/tetris_expert_dataset
