/.ipynb_checkpoints
**/__pycache__
**/wandb
tb_logs/
**/nohup.out
datasets/
**/**checkpoint**
build/
*.egg-info/
*.so
tetrio/
garbage_traces/
garbage_traces_snapshots/
garbage_traces_archive/
trials/
notes.md
garbage_traces_mut/
